*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#050505;
    color:#ffffff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#111;
    position:sticky;
    top:0;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#8A2BE2;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#8A2BE2;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:70px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    font-size:22px;
    margin-bottom:40px;
}

button{
    padding:15px 40px;
    border:none;
    border-radius:10px;
    background:#8A2BE2;
    color:white;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#6d22c9;
}

.login-container{
    width:420px;
    margin:80px auto;
    background:#111;
    padding:40px;
    border-radius:15px;
}

.login-container h1{
    text-align:center;
    margin-bottom:20px;
}

.login-container input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
}

.login-container button{
    width:100%;
    margin-top:20px;
}

footer{
    text-align:center;
    padding:40px;
    background:#111;
}
