:root{

--primary:#7B2EFF;
--secondary:#00E5FF;
--dark:#050505;
--card:#111111;
--text:#FFFFFF;
--gray:#BDBDBD;
--success:#00C853;
--danger:#FF1744;

--radius:18px;

--shadow:0 0 30px rgba(123,46,255,.35);

}
