.profile{
    max-width:1000px;
    margin:auto;
    padding:60px 20px;
}

.profile-card{
    background:#111;
    border-radius:15px;
    padding:30px;
    text-align:center;
}

.profile-card img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid #8A2BE2;
    object-fit:cover;
}

.profile-card h2{
    margin-top:20px;
}

.profile-card p{
    color:#bbb;
    margin-top:10px;
}