/* ===========================
   HRYET GLOBAL STYLE
=========================== */

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--white);

font-family:var(--font-main);

overflow-x:hidden;

}

/* ===========================
   LINKS
=========================== */

a{

text-decoration:none;

color:inherit;

}

/* ===========================
   LISTAS
=========================== */

ul{

list-style:none;

}

/* ===========================
   BOTONES
=========================== */

button{

cursor:pointer;

border:none;

border-radius:var(--radius);

padding:16px 40px;

font-size:16px;

font-weight:700;

transition:var(--transition);

}

button:hover{

transform:translateY(-3px);

box-shadow:var(--shadow-hover);

}

/* ===========================
   TITULOS
=========================== */

h1{

font-size:var(--title-size);

font-weight:800;

line-height:1.1;

}

h2{

font-size:var(--subtitle-size);

margin-bottom:20px;

}

p{

font-size:var(--text-size);

color:var(--gray);

line-height:1.8;

}

/* ===========================
   CONTENEDOR
=========================== */

.container{

width:90%;

max-width:var(--container);

margin:auto;

}

/* ===========================
   SECCIONES
=========================== */

section{

padding:120px 0;

}

/* ===========================
   SCROLL
=========================== */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#080808;

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:20px;

}

/* ===========================
   SELECCION
=========================== */

::selection{

background:var(--primary);

color:white;

}

/* ===========================
   IMAGENES
=========================== */

img{

max-width:100%;

display:block;

}

/* ===========================
   GLASS
=========================== */

.glass{

background:var(--glass);

backdrop-filter:blur(18px);

border:1px solid var(--border);

border-radius:var(--radius);

}

/* ===========================
   SOMBRA
=========================== */

.shadow{

box-shadow:var(--shadow);

}

/* ===========================
   ANIMACION BASE
=========================== */

.fade{

opacity:0;

transform:translateY(30px);

transition:1s;

}

.fade.show{

opacity:1;

transform:translateY(0);

}
